flask
psycopg2
gunicorn
python-dotenv
flask-cors
cohere
flask_sqlalchemy
sqlalchemy
git+https://${GITHUB_TOKEN}@github.com/cnnrobrn/wha7-models.git@main
asyncpg  # If using async database operations
httpx    # If making async HTTP requests
